Тапсырма 1: CSV Файлын Оқу және Тізімге Сақтау

In [1]:
import csv

data_rows = []
with open('Salaries.csv', 'r', encoding='utf-8') as file:
    reader = csv.reader(file)
    header = next(reader)
    for i, row in enumerate(reader):
        if i < 10:
            data_rows.append(row)
        else:
            break

print("Data rows length:", len(data_rows))
print("First element:", data_rows[0])

Data rows length: 10
First element: ['1', 'NATHANIEL FORD', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', '167411.18', '0.0', '400184.25', '', '567595.43', '567595.43', '2011', '', 'San Francisco', '']

Тапсырма 2: Кортеж және Сөздік – Алғашқы 3 Адамның Атын Сақтау

In [2]:
first_three_names = tuple(row[0] for row in data_rows[:3])

employee_titles = {row[0]: row[2] for row in data_rows[:3]}

print("First three names (tuple):", first_three_names)
print("Employee titles (dict):", employee_titles)

First three names (tuple): ('1', '2', '3')
Employee titles (dict): {'1': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', '2': 'CAPTAIN III (POLICE DEPARTMENT)', '3': 'CAPTAIN III (POLICE DEPARTMENT)'}

Тапсырма 3: Тізімдік Өрнектер (List Comprehension)

In [3]:
base_pays_str = [row[3] for row in data_rows]

print("Base pays (as strings):", base_pays_str)

Base pays (as strings): ['167411.18', '155966.02', '212739.13', '77916.0', '134401.6', '118602.0', '92492.01', '256576.96', '176932.64', '285262.0']

Тапсырма 4: Жиын (Set) – Бірегей Атақтарды Табу

In [5]:
job_titles_list = []
for row in data_rows:
    job_titles_list.append(row[2])

unique_titles = set(job_titles_list)

print("Unique job titles (set):", unique_titles)

Unique job titles (set): {'CAPTAIN III (POLICE DEPARTMENT)', 'WIRE ROPE CABLE MAINTENANCE MECHANIC', 'DEPUTY DIRECTOR OF INVESTMENTS', 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'BATTALION CHIEF, (FIRE DEPARTMENT)', 'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)', 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)', 'ASSISTANT DEPUTY CHIEF II'}